.ui-tabs-vertical .ui-tabs-nav { padding:0 0 .2em .2em !important; float:left; width:20%; }
.ui-tabs-vertical .ui-tabs-nav li { clear:left; width:100%; border-bottom-width:1px !important; border-right-width:1px !important; margin:0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block;    width:100%; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom:0; padding-right:.1em; border-right-width:1px; }
.ui-tabs-vertical .ui-tabs-panel { padding:1em; float:right;    width:80%;}
/* codigos de barras */
#codigosBarras {position:relative}

#confCodebar{width:80%;min-height:initial;  padding:10px;}
.ui-panel-dismiss-open.ui-panel-dismiss-position-right{right:80%}
.ui-field-contain>label, .ui-field-contain .ui-controlgroup-label, .ui-field-contain>.ui-rangeslider>label {width:80%}
#codigosBarras .ui-field-contain{clear:none}
#imagenLogo{min-height:80px;vertical-align:middle;float:left;width:100%;padding:10px}
#codigosBarras .button{padding:10px;float:left}
#codigosBarras label{text-align:left}
#codigosBarras .CodPorPagRadio{display:inline}
.page-sidebar #codigosBarras #content{margin:0;padding:0 5px !important}
#codigosBarras .ui-selecting { background:#FECA40;}
#codigosBarras .ui-selected { background:#5292DF !important;color:white;}
#codigosBarras .ui-selected .qCodebar,#codigosBarras .ui-selecting .qCodebar{background:#fff;color:#000}
#codigosBarras {list-style-type:none;overflow:hidden;margin:0;padding:0;width:100%;margin-bottom:-86px}
#codigosBarras ul{padding:0}
#codigosBarras #listasProds h4{flex-grow:1}
#codigosBarras .flechaIntermedia{display:flex;flex-direction:row;flex-wrap:nowrap;align-content:center;justify-content:center;align-items:center;height:300px}
#codigosBarras .flechaIntermedia span{position:fixed}
#codigosBarras .ContOrdenacion{display:flex;align-content:center;flex-wrap:nowrap;justify-content:flex-end;align-items:center;margin-bottom:9px}
#codigosBarras .ContOrdenacion h4{margin-right:5px}
#codigosBarras .ContOrdenacion .ui-select{float:right}
.contLabels{width:100%;float:left;height: 24px}
#codigosBarras li{list-style:none;margin:0.1%;position:relative;padding:1px;float:left;width:100%;height:23px}
#codigosBarras li .id_product{left:3px;font-size:1.1em;font-weight:normal;position:absolute;z-index:0}
#codigosBarras li.ui-selected .id_product{color:#FFF;text-shadow:none}
#codigosBarras li .id_product_attribute{display:none}
#codigosBarras li .qCodebar{background:#fff;position:absolute;bottom:0;width:54px;right:0;color:#000;text-align:center;z-index:2;padding:0;height:20px}
#codigosBarras li .name{text-shadow:none;font-weight:normal;text-align:center;width:100%;float:left;z-index:1;position:absolute}
#codigosBarras li .price{text-shadow:none;font-weight:normal;text-align:center;width:83px;z-index:1;position:absolute;font-weight:bold;right:45px;}
#selectable tr,#selectedList tr{cursor:pointer}

/*.contLabels .id_product{left:3px;font-size:1em;font-weight:normal;position:absolute;z-index:0}
.contLabels .name{text-align:center;width:100%;float:left;z-index:1;position:absolute}
.contLabels .qCodebar{right:0;width:60px;position:absolute;font-weight:bold;}   */
#selectable tr td:nth-child(1),#selectable tr td:nth-child(3),#selectable tr td:nth-child(4){text-align:center}
#selectedList tr td:nth-child(1),#selectedList tr td:nth-child(3),#selectedList tr td:nth-child(4){text-align:center}
.ui-selectable-helper{z-index:9000}
#codigosBarras.v15 .form-group{float:left}
.formatoCodBar{display:inline-block}
.resultadoSubida{width:200px;margin:0 auto;height:auto;overflow:hidden}
#imagenLogo{cursor:pointer;padding:0}
.selecionaFormato{display:flex;justify-content:flex-end}
#parametrosTab a.ui-btn,.selecionaFormato .ui-select{margin:0 3px !important}
#parametrosTab a.ui-btn i{font-size:1.3em}
.logoButton{display:inline-block;background:#87CEEB;padding:10px}
.hideBackground{background:transparent;pading:0}
.subirImagen{width:100%;display:inline-block;padding:10px}
#barraFiltros{display:flex;flex-direction:row;flex-wrap:nowrap;align-content:center;justify-content:space-between;align-items:center;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA0CAIAAADEwMXAAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wgbERMFlLXjXwAAAEFJREFUCNeFjsENwDAIA0+s3TE6URbr9UHTgNSoD2TOAtkc5wgghOAdk11esu1Ou+bu3oMQf/6f/I/sq3Z0drbyDTTDKwzNRrckAAAAAElFTkSuQmCC)}
#codigosBarras #abrirBusq{z-index:1;padding:12px;color:#fff;text-shadow:none;margin-top:0.5em;color:#fff;text-shadow:none;border:0;background:rgba(0,0,0,0.2);
    width:38px;padding:9px 8px;height:38px;float:right;border-radius:50%}
#busquedaCodBar{height:39px;margin:1px 0}
#contBusquedaAvanzada{border-color:#DDD;right:-45px;background:#6987BA;padding:12px;text-shadow:0 1px 0 #000;float:right;display:none;top:45px;position:absolute;padding:0;z-index:500;min-width:250px}
#barraFiltros .ui-input-text{width: 82%;float: left;}
.estab{display:flex;flex-wrap:nowrap;flex-direction:row;justify-content:center;align-content:center;align-items:center}
.estab p{font-weight:normal;margin-right:10px}
.estab .ui-input-text{width:89px}
#listasProds {display: flex}
#listasProds .col-md-6,#listasProds .col-md-5{border:1px solid #ccc;margin:2px}#popupErrorCodebars{width:400px}
#contRangos{display:none}
.contCoorCarac{display:inline-block;width:81px;position:relative}
.contCoorCarac input{margin-left:11px}
.camposCodBar .configurationTPVTienda input[type=text]{color:#000;height:24px;width:60px;float:left;text-align:center}
#formatoEtiquetas .ui-grid-a>.ui-block-a,#formatoEtiquetas .ui-grid-a>.ui-block-b{width:auto !important}
#formatoEtiquetas .ui-block-a{clear:none !important}

/* OSCURO */
.ui-page-theme-b .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:after {background:#000}
.ui-page-theme-b .camposCodBar .configurationTPVTienda input[type=text]{color:#fff;border-color:#575757}

/* Configuracion */
.camposCodBar .configurationTPVTienda label:not(.ui-btn){width:67%;margin:0.5em 5px 0.5em 0px;float:left;text-align:right}
.camposCodBar .configurationTPVTienda .coordenadas label{float:right;max-width:90px}
.right{text-align:right}
.camposCodBar .configurationTPVTienda .coordenadas .ui-input-text{float:right}
.configurationTPVTienda .ui-input-text{border:0 none}
.configurationTPVTienda legend{font-size:1em !important}
.configurationTPVTienda .ui-flipswitch{margin:0.5em 0px !important;width:72px}
.camposCodBar .configurationTPVTienda .contPosicion{width:171px;float:left}
.camposCodBar .configurationTPVTienda .contPosicion label{width:18px}
.configurationTPVTienda .logo_cont{width:100%;padding:10px;}
#confCodebar label,#confCodebar p{color:#fff;}
.ui-effects-transfer {border:1px dotted white}
#confCodebarButton{position:absolute;right:0;z-index:99}
.tipoPapelCodebar{width:100%;float:left;background-color:#338AAB;}
.tipoPapelCodebar .estiloPapel{padding:10px 0}
.tipoPapelCodebar .estiloPapel:hover{background:#31B1E6}
.tipoPapelCodebar img{cursor:pointer;display:block;text-align:center;margin:0 auto;width:65px}
.tipoPapelCodebar input[type=radio]{margin:0 auto;width:19px;display:block}
.tipoPapelCodebar .seleccionado{background:rgb(135, 206, 235)}

/* guardar configuracion */
