@font-face {
    font-family: 'mountains_of_christmasregular';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/mountainsofchristmas-webfont.woff2') format('woff2'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/mountainsofchristmas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.christmas-tree-container {
  background-color:#151522;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.christmas-tree-container svg {
  width: 100%;
  height: 100%;
  visibility: hidden;
  max-width: 100%;
  max-height: 100%;
}

.sparkle {
  /* mix-blend-mode:luminosity */
}

#endMessage {
  font-family: mountains_of_christmasregular;
  font-size: 2rem;
  text-anchor: middle;
  text-align: center;
  fill: #FFFFFF;
  color: #FFFFFF;
  opacity:0;
  letter-spacing: 1px;
}

#endMessage a {
  color: white;
  text-decoration: underline dotted #FFFFFF;
}

#endMessage a:visited {
  color: red;
}
